@font-face {
    font-family: 'Affogato-Black';
    src: url('assets/affogato-webfont/webfont/Affogato-Black.eot');
    src: url('assets/affogato-webfont/webfont/Affogato-Black.eot?#iefix') format('embedded-opentype'),
    	 url('assets/affogato-webfont/webfont/Affogato-Black.woff') format('woff'),
         url('assets/affogato-webfont/webfont/Affogato-Black.woff2') format('woff2'),
         url('assets/affogato-webfont/webfont/Affogato-Black.ttf')  format('truetype'),
         url('assets/affogato-webfont/webfont/Affogato-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Affogato-Regular';
    src: url('assets/affogato-webfont/webfont/Affogato-Regular.eot');
    src: url('assets/affogato-webfont/webfont/Affogato-Regular.eot?#iefix') format('embedded-opentype'),
    	 url('assets/affogato-webfont/webfont/Affogato-Regular.woff') format('woff'),
         url('assets/affogato-webfont/webfont/Affogato-Regular.woff2') format('woff2'),
         url('assets/affogato-webfont/webfont/Affogato-Regular.ttf')  format('truetype'),
         url('assets/affogato-webfont/webfont/Affogato-Regular.svg') format('svg');
}


h1 {font-family: 'Affogato-Black', sans-serif; !important}
h2 {font-family: 'Affogato-regular', sans-serif; !important}
h3 {font-family: 'Affogato-regular', sans-serif;}
h4 {font-family: 'Affogato-Black', sans-serif; !important}
h5 {font-family: 'Affogato-regular', sans-serif; !important}
h6 {font-family: 'Affogato-regular', sans-serif; !important}
p {font-family: 'Affogato-regular', sans-serif; !important}

.display {font-family: 'Affogato-regular', sans-serif; !important}
.btn {font-family: 'Affogato-regular', sans-serif; !important}
.fw-bold {font-family: 'Affogato-regular', sans-serif; !important}
.fw-bolder {font-family: 'Affogato-regular', sans-serif; !important}

.bg-azzurro {
background-color: #2DABE3;
}

#mainNav {
    font-family: 'Affogato-regular', sans-serif; !important
}
