h1 {font-family: 'Affogato', sans-serif; font-weight: 900;}
h2 {font-family: 'Affogato', sans-serif;}
h3 {font-family: 'Affogato', sans-serif;}
h4 {font-family: 'Affogato', sans-serif; font-weight: 900;}
h5 {font-family: 'Affogato', sans-serif;}
h6 {font-family: 'Affogato', sans-serif;}
p {font-family: 'Affogato', sans-serif;}

.display {font-family: 'Affogato', sans-serif;}
.btn {font-family: 'Affogato', sans-serif;}
.fw-bold {font-family: 'Affogato', sans-serif;}
.fw-bolder {font-family: 'Affogato', sans-serif;}

.bg-azzurro {
background-color: #2DABE3;
}
